body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.example {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 10px;
    text-align: center;
}

.container {
    height:200px;
    display: flex;
    padding: 10px;
    border: 2px solid #ccc;
    background-color: #fff;
}

.container img {
    width: 100px;
    height: 100px;
    margin: 5px;
}

/* Flexbox justify-content examples */
.flex-start {
    justify-content: flex-start;
}
.flex-end {
    justify-content: flex-end;
}
.center {
    justify-content: center;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.space-evenly {
    justify-content: space-evenly;
}